{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/x-icon" href="{% static 'img/fav.png' %}" />
    <meta name="author" content="CodePixar" />
    <meta
      name="description"
      content="hardware % tools shop, with snc fd you will find all you need"
    />
    <meta name="keywords" content="hardware tools droguerie" />
    <meta charset="UTF-8" />
    <title>SNC FD Shop - {% block title %}{% endblock title %}</title>

    <!-- import css files -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/ion.rangeSlider.skinFlat.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body class="position-relative">
    <!-- header area -->
    <header class="header_area sticky-header">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="{% url 'core:home' %}"
              ><img
                src="{% static 'img/fd-logo.png' %}"
                alt=""
                style="max-width: 160px; max-height: 70px"
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link home" href="{% url 'core:home' %}">Home</a>
                </li>
                <li class="nav-item submenu dropdown">
                  <a
                    href="{% url 'shopping:shop' %}"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Shop</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'shopping:shop' %}"
                        >Shop</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="{% url 'shopping:card_details' %}"
                        >Shopping Cart</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Pages</a
                  >
                  <ul class="dropdown-menu">
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'users:register' %}"
                        >Register</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'users:login' %}"
                        >Login</a
                      >
                    </li>
                    {% else %} {% if user.is_manager %}
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="{% url 'users:admin_orders_view' %}"
                        >Manage Orders</a
                      >
                    </li>
                    {% endif %}
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="{% url 'users:client_order_list' %}"
                        >Tracking</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'users:logout' %}"
                        >Logout</a
                      >
                    </li>
                    {% endif %}
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'core:contact' %}"
                    >Contact</a
                  >
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link position-relative" href="{% url 'users:dashboard'  %}">Dashboard
                    {% if not user.email_verified or not user.phone_verified %}
                    <span id="#verify-badge" class="verify-badge"
                    ></span
                  >
                  {% endif %}
                  </a>
                </li>
                {% endif %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                  <a href="{% url 'shopping:card_details' %}" class="cart position-relative"
                    ><span class="ti-bag"></span
                  >
                  {% if cart|length > 0 %}
                  <span id="#desktop-cart-badge" class="desktop-cart-badge"
                    >{{ cart|length }}</span
                  >
                  {% endif %}</a>
                  
                </li>
                <li class="nav-item">
                  <button class="search">
                    <span class="lnr lnr-magnifier" id="search"></span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="search_input" id="search_input_box">
        <div class="container">
          <form class="d-flex justify-content-between">
            <input
              type="text"
              class="form-control"
              id="search_input"
              placeholder="Search Here"
            />
            <button type="submit" class="btn"></button>
            <span
              class="lnr lnr-cross"
              id="close_search"
              title="Close Search"
            ></span>
          </form>
        </div>
      </div>
    </header>
    {% block message %}{% endblock message %}
    {% block content %} {% endblock content %}
    <div class="mobile-nav">
      <!-- define mobile badge (small screen footer) -->
      <a href="{% url 'shopping:card_details' %}" id="mobile-cart" class="position-relative">
        <!-- check for cart length & display it in the badge -->
        {% if cart|length > 0 %}
        <span id="#mobile-cart-badge" class="mobile-cart-badge"
          >{{ cart|length }}</span
        >
        {% endif %}
        <span class="lnr lnr-cart mobile-nav-item"></span
      ></a>
      <a href="{% url 'users:dashboard' %}"><span class="lnr lnr-user mobile-nav-item"></span></a>
      <a href="" id="mobile-search"><span class="lnr lnr-magnifier mobile-nav-item"></span></a>
    </div>
    <!-- footer area -->
    <footer class="footer-area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>About Us</h6>
              <p>
                Welcome to SNC FD, your trusted source for top-quality hardware and tools. We provide reliable products and expert service for both professionals and DIY enthusiasts. Whatever your project, we’ve got the tools and support you need!
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Newsletter</h6>
              <p>Stay update with our latest</p>
              <div class="" id="mc_embed_signup">
                <form
                  target="_blank"
                  novalidate="true"
                  action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                  method="get"
                  class="form-inline"
                >
                  <div class="d-flex flex-row">
                    <input
                      class="form-control"
                      name="EMAIL"
                      placeholder="Enter Email"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Enter Email '"
                      required=""
                      type="email"
                    />

                    <button class="click-btn btn btn-default">
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </button>
                    <div style="position: absolute; left: -5000px">
                      <input
                        name="b_36c4fd991d266f23781ded980_aefe40901a"
                        tabindex="-1"
                        value=""
                        type="text"
                      />
                    </div>

                    <!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
                  </div>
                  <div class="info"></div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget mail-chimp">
              <h6 class="mb-20">Instragram Feed</h6>
              <ul class="instafeed d-flex flex-wrap">
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Follow Us</h6>
              <p>Let us be social</p>
              <div class="footer-social d-flex align-items-center">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="footer-bottom d-flex justify-content-center align-items-center flex-wrap"
        >
          <p class="footer-text m-0">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This template is made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </footer>
    <!-- import scripts -->
    <!-- popper -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"
      defer
    ></script>
    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"
      defer
    ></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/countdown.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/nouislider.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    {% block add_script %}{% endblock add_script %}
  </body>
</html>
