{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block message %}{% endblock message %}
{% block content %}
{% include 'core/s_banner.html' %}
<section class="container mt-5 cart-search py-3 px-3">
  <div class="order-search my-3 mx-auto">
    <h5 class="order-search-h5 my-3">Look For Orders</h5>
    <input type="text" name="order-search-input" id="order-search-input" class="form-control"
      placeholder="search:... #10">
  </div>
  <div class="clear-btn-container my-3 mx-auto">
    <button class="btn btn-danger order-search-clear">Clear Filter</button>
  </div>
</section>
<section class="container my-5">
  <div class="orders-container">
    {% for order in orders %}
    <div class="card order-card my-2">
      <div class="card-header d-flex justify-content-between align-items-center">
        Order ID: #{{ order.id }}
        {% if not order.is_printed %}<span class="print-badge"></span>{% endif %}</div>
      <div class="card-body">
        <h5 class="card-title">
          <span class="text-capitalize">{{ order.user.first_name }} {{ order.user.last_name }} Order: {{ order.id
            }}</span>
        </h5>
        <p class="card-text">
        <ul>
          <li>Order Time: {{ order.created_at }}</li>
          <li>Order Total: {{ order.total_price }} DA</li>
          <li>Pick Up Date: {{ order.pickup_date }}</li>
        </ul>
        </p>
        <a href="{% url 'users:admin_order_detail' order.id %}" class="btn primary-btn rounded-0">See Details</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}
{% block add_script %}
<script>
  let orderSearch = $("#order-search-input");
  let orders = $('.order-card');

  orderSearch.on("keyup", function () {
    let value = $(this).val().toLowerCase();
    let words = value.split(" ");

    if (value.length > 0) {
      orders.each(function () {
        let rowText = $(this).text().toLowerCase();
        let match = true;

        for (let word of words) {
          if (!rowText.includes(word)) {
            match = false;
            break;
          }
        }

        if (match) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    }
  });
  let ClearSearchBtn = $(".order-search-clear");
  ClearSearchBtn.click(function () {
    orderSearch.val("");
    orders.each(function () {
      $(this).show();
    });
  });
</script>
{% endblock add_script %}